*.tmp
*.swp
**/*.log
*.iml
concourse-params.yml
**/target/
build
!**/src/main/**/build/
!**/src/test/**/build/
bin/
internal/
out/
.settings/
.idea/
.gradle/
.DS_Store
.classpath
.project
.factorypath
pom.xml.versionsBackup
**/src/generated/java/META-INF
**.java-version
.rewrite-cache