button.recipeButton {
    --html-font-size: 1em;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-weight: 400;
    --monospace-font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;
    --body-background-color: #fff;
    --panel-background-color: #f6f8fa;
    --panel-group-background-color: #e1e8e8;
    --panel-border-color: #eaedf0;
    --color-accent-1: #ebf2f2;
    --color-accent-2: #d7e7e7;
    --color-accent-3: #6db33f;
    --body-font-color: #191e1e;
    --body-font-light-color: #273030;
    --body-font-dark-color: #141818;
    --link-font-color: #1565c0;
    --hover-link-font-color: #104d92;
    --scrollbar-thumb-color: silver;
    --mark-background-color: #39ff14;
    --selected-background-color: #191e1e;
    --layout-max-width: 1400px;
    --layout-switchtheme-invert-filter: invert();
    --layout-switchtheme-background-color: var(--body-background-color);
    --layout-switchtheme-button-color: var(--body-background-color);
    --layout-switchtheme-button-hover-color: var(--color-accent-1);
    --asciidoctor-doc-background-embellishment-height: 147px;
    --asciidoctor-details-background: var(--color-accent-1);
    --asciidoctor-details-font-color: var(--body-font-light-color);
    --asciidoctor-author-separator-color: var(--color-accent-3);
    --asciidoctor-panel-background: var(--panel-background-color);
    --asciidoctor-panel-border-color: var(--panel-border-color);
    --asciidoctor-font-color: var(--body-font-color);
    --asciidoctor-heading-font-color: var(--body-font-dark-color);
    --asciidoctor-heading-font-weight: 600;
    --asciidoctor-alt-heading-font-weight: 600;
    --asciidoctor-section-divider-color: var(--color-accent-1);
    --asciidoctor-link-font-color: var(--link-font-color);
    --asciidoctor-hover-link-font-color: var(--hover-link-font-color);
    --asciidoctor-unresolved-link-font-color: #d32f2f;
    --asciidoctor-code-font-color: var(--asciidoctor-font-color);
    --asciidoctor-code-link-font-color: var(--link-font-color);
    --asciidoctor-code-background: rgba(27, 31, 35, .05);
    --asciidoctor-code-data-lang-color: #999;
    --asciidoctor-table-border-color: var(--asciidoctor-panel-border-color);
    --asciidoctor-table-header-footer-background: var(--color-accent-1);
    --asciidoctor-table-stripe-background: var(--color-accent-1);
    --asciidoctor-table-footer-background: linear-gradient(to bottom, var(--color-accent-1) 0%, var(--body-background-color) 100%);
    --asciidoctor-admonition-background: var(--color-accent-1);
    --asciidoctor-admonition-pre-background: var(--color-accent-2);
    --asciidoctor-admonition-label-font-weight: 500;
    --asciidoctor-admonition-font-color: #f0f0f0;
    --asciidoctor-admonition-caution-background: #561164;
    --asciidoctor-admonition-important-background: #960000;
    --asciidoctor-admonition-note-background: #015785;
    --asciidoctor-admonition-tip-background: #3e6b1f;
    --asciidoctor-admonition-warning-background: #bd7400;
    --asciidoctor-abstract-background: var(--asciidoctor-panel-background);
    --asciidoctor-abstract-border-color: var(--asciidoctor-panel-border-color);
    --asciidoctor-quote-background: var(--color-accent-1);
    --asciidoctor-quote-border-color: var(--color-accent-3);
    --asciidoctor-quote-attribution-font-color: var(--color-accent-3);
    --asciidoctor-caption-font-color: var(--body-font-light-color);
    --asciidoctor-caption-font-weight: 400;
    --asciidoctor-example-background: var(--asciidoctor-panel-background);
    --asciidoctor-example-border-color: var(--asciidoctor-panel-border-color);
    --asciidoctor-sidebar-background: var(--color-accent-1);
    --asciidoctor-pre-background: var(--asciidoctor-panel-background);
    --asciidoctor-pre-border-color: var(--asciidoctor-panel-border-color);
    --asciidoctor-callout-background: var(--body-font-dark-color);
    --asciidoctor-callout-font-color: var(--body-background-color);
    --asciidoctor-footer-font-color: #b6b6b6;
    --highlight-background-color: var(--asciidoctor-pre-background);
    --highlight-font-color: #24292e;
    --highlight-keyword-font-color: #d73a49;
    --highlight-comment-font-color: #6a737d;
    --highlight-string-font-color: #032f62;
    --highlight-meta-font-color: #6a737d;
    --highlight-constant-font-color: #032f62;
    --highlight-variable-font-color: #005cc5;
    --highlight-tag-font-color: #22863a;
    --highlight-tag-attribute-font-color: #6f42c1;
    --highlight-type-font-color: #6f42c1;
    --highlight-link-font-color: var(--link-font-color);
    --highlight-addition-font-color: #22863a;
    --highlight-deletion-font-color: #24292e;
    --highlight-regex-font-color: #032f62;
    --tabs-border-color: var(--selected-background-color);
    --tabs-background-color: var(--body-background-color);
    --tabs-font-color: var(--body-font-color);
    --tabs-selected-background-color: var(--selected-background-color);
    --tabs-selected-font-color: var(--body-background-color);
    --tabs-hover-font-color: var(--hover-link-font-color);
    --tabs-hover-background: var(--color-accent-1);
    --tabs-group-background-color: var(--panel-group-background-color);
    --toc-font-color: var(--body-font-color);
    --toc-hover-background-color: var(--color-accent-1);
    --toc-active-background-color: var(--selected-background-color);
    --toc-active-font-color: var(--body-background-color);
    --toc-back-to-index-filter: none;
    --toc-bar-button-filter: none;
    --codetools-button-filter: none;
    --codetools-button-active-filter: invert();
    --codetools-background-color: var(--body-background-color);
    --codetools-border-color: rgba(0, 0, 0, .3);
    --codetools-hover-background-color: var(--color-accent-1);
    --codetools-divider-color: var(--codetools-border-color);
    --codetools-popup-background-color: var(--selected-background-color);
    --codetools-popup-font-color: var(--body-background-color);
    --layout-banner-height: 51px;
    --layout-banner-logo-height: 30px;
    --layout-banner-logo-offset: 10px;
    --layout-border-color: var(--body-background-color);
    --toc-bar-display: block;
    --toc-bar-height: 24px;
    --toc-width: 0;
    --toc-display: none;
    --asciidoctor-doc-embellishment-margin-width: 0;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    overflow-wrap: anywhere;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    hyphens: none;
    box-sizing: border-box;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-width: 1px;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-size: var(--ebs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    cursor: pointer;
}