name: Build SBM Legacy
on:
  push:
    branches:
      - "**"
    branches-ignore:
      - "main"
    paths-ignore:
      - "sbm-support-rewrite/**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'maven'

      - name: Maven Build
        run: mvn -DskipTests --batch-mode clean package